#labdarugas{
    font-weight: bold;
    font-style: italic;
}

h1{
    font-weight:normal ;
}

#foci{
    color: red;
    display: inline-block;
    font-size: 2em;
    width: 40%;
    background-color: lightblue;
}

#labdajatek{
    color: blue;
    font-size: 2rem;
}

p{
    font-size: 8px;
    /* rem: root ephemeral unit */
    /* root == html elem */
}

html{
    font-size: 50px;
}

#usa{
    font-variant: small-caps;
}

#ifa{
    color: brown;
    font-family: sans-serif;
}