#labdarugas{
    font-weight: bold;
    font-style: italic;
}

h1{
    font-weight:normal;
    text-align: center;
    /* text-decoration-color: green;
    text-decoration-line:underline;
    text-decoration-style: wavy; */
    text-decoration:1px underline overline wavy green;
}

#foci{
    color: red;
    display: inline-block;
    font-size: 2em;
    width: 40%;
    background-color: lightblue;
    font-weight: bolder;
}

#labdajatek{
    color: blue;
    font-size: 2rem;
}

p{
    font-size: 8px;
    /* rem: root ephemeral unit */
    /* root == html elem */
    margin: 40px 0px;
}

html{
    font-size: 50px;
}

#usa{
    font-variant: small-caps;
}

#ifa{
    color: brown;
    font-family: sans-serif;
}

#masodik{
    line-height: 1.5em;
/* sorköz */
text-align: justify;
/* justify== sorkizárt */
}

#labsport{
    letter-spacing: -0.8px;
    /* ritkitas, surites */
}

#fifa{
    text-transform: uppercase;
    /* nagybetus */
}

a{
    color: black;
    text-decoration: none;
    background-color: aqua;
    padding: 20px;
    margin: auto;
    display: block;
    width: fit-content;
}