body{
    width: 60%;
    border: 1px solid black;
}

div{
    border: 1px solid black;
    width: 100px;
    height: 50px;
}

#a{
    background-color: red;
    /* margin-left: 20px;
    margin-top: 10px; */
    position: relative;
    left: 20px;
    top: 10px;
}

#b{
    background-color: green;
    left: 20px;
    top: 10px;
    position: absolute;
}

#c{
    position: fixed;
    background-color: blue;
    top: 20px;
    right: 30px;
}

#d{
    background-color: yellow;
    position: sticky;
    top: 0px;
}