body{
    background-color: rgba(0, 128, 0, 30%);
    cursor: crosshair;
    -webkit-animation: pulsate 20s linear infinite;
    -moz-animation: pulsate 20s linear infinite;
    animation: pulsate 20s linear infinite;
}
/* 
@-webkit-keyframes pulsate {
    0% {background: black}
    20% {background: red}
    40% {background: blue}
    60% {background: orange}
    80% {background: green}
    100% {background: black}
}
@-moz-keyframes pulsate {
    0% {background: black}
    20% {background: red}
    40% {background: blue}
    60% {background: orange}
    80% {background: green}
    100% {background: black}
}
@keyframes pulsate {
    0% {background: black}
    20% {background: red}
    40% {background: blue}
    60% {background: orange}
    80% {background: green}
    100% {background: black}
} */

#fenti{
    background-color: lightblue;
    border: 1px solid black;
    height: 40px;
    width: 100px;
    border-radius: 2px;
    margin-bottom: 15px;
    display: block;
    box-shadow: 5px 5px rgba(0, 0, 200, 100%);
}

#lenti{
    background-color: lightblue;
    border: 1px solid black;
    height: 40px;
    width: 100px;
    border-radius: 2px;
    display: block;
    box-shadow: 0px 0px 8px 5px orange;
}

#konyvek{
    width: 200px;
    float: right;
    display: inline;
}

p{
    text-shadow: 0.5px 0.5px gray;
}

ul{
    background-color: lightcoral;
    list-style: circle;
    padding: 0px;
}

li{
    background-color: lightblue;
    text-indent: 15px;
    margin-bottom: 10px;
    list-style-position: inside;
    padding: 8px;
}

a{
    background-color: yellow;
    text-decoration: none;
    display: block;
    margin: auto;
    color: black;
    width: fit-content;
    padding: 20px 30px;
    border: 1.5px solid black;
    cursor:wait;
    border-radius: 10px;
}

tr, td, th{
    background-color: white;
    width: 160px;
    height: 40px;
    border: 1px solid black;
    margin: 0px;
    text-align: center;
}

table{
    margin: auto;
    border-collapse: collapse;
    margin-bottom:60px;
}

body{
    background-image:url(fruit_salad.png) ;
    background-repeat: repeat-x;
    background-position: bottom left;
    background-size: 50px;
    background-attachment: scroll;
}