body{
    background-color: indianred;
    color: indigo;
}

div{
    width: 80%;
    background-color: lightcyan;
    padding: 10px 30px;
    margin: auto;
}

img{
    width: 15em;
    display: block;
    margin: auto;
}

h2{
    border-left: 5px;
    padding-left: 5px;
    font-variant: small-caps;
}

.erdekesseg{
    font-family: cursive;
    font-style: italic;
}

p{
    text-align: justify;
}